*{
    padding: 0PX;
    margin: 0px;  
}
html ,body{
    height: 100%;
    width: 100%;
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;

}
.wave{
    width: 100%;
    height: 200px;
    background: url("../images/wave_03.png")center top  no-repeat;
    position: absolute;
    bottom: 50px;
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    z-index: 3;
   
}
.wave1{
    width: 100%;
    height: 160px;
    background: url("../images/wave_02.png") center top  no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
     animation-name: test1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 0;
}
.wave2{
    width: 100%;
    height: 130px;
    background: url("../images/wave_01.png") center top  no-repeat;
    background-size: cover;
    z-index: 6;
    position: absolute;
    bottom: -50px;
    animation-name: test2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
}
@keyframes test
{
0%   {bottom:0px;}
100% {bottom: -50px;}
}
@keyframes test1
{

0%   {bottom:0px;}
100% {bottom: -30px;}
}
@keyframes test2
{
0%   {bottom:0px;}
100% {bottom: -50px;}
}
.chuan{
    width: 300px;
    height: 300px;
   position:absolute;
    bottom:65px;
    right: 80px;
    background: url("../images/ship.png")no-repeat;
    background-size: contain;
    z-index: 3px;
    animation-name: testt;
    animation-duration: 2s;
     animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    
}
@keyframes testt
{
    0%   {  transform:rotate(-20deg);}
    100% {  transform:rotate(0deg);}
    
}
.cab{
    width: 200px;
    height: 200px;
    background: url("../images/moon.png")no-repeat;
    background-size: contain;
    z-index: 1;
    position: absolute;
    left: 136px;
    top:55px;
     animation-name: chuang;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    
    
}
@keyframes chuang
{
    0%   {  transform:rotate(-20deg);}
    100% {  transform:rotate(0deg);}
    
}
.ts{
    width: 135px;
    height: 82px;
    background: url("../images/cloud_04.png")no-repeat;
    position: absolute;
    top:200px;
    z-index: 3;
    animation-name: cloud_04;
    animation-duration: 40s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
}
@keyframes cloud_04
{
	0%{left:1000px;}
	100%{left:-200px;}
}
.tes0{
    width:400px;
    height:150px;
    position:absolute;
    left:5%;
    background:url(../images/cloud_01.png) center bottom no-repeat;
    z-index:4;
    animation-name:cloud_01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    
}




.tes1{
    width:211px;
    height:280px; 
    position:absolute;
    left:35%;
    background:url(../images/cloud_02.png) center bottom no-repeat;
    z-index:4;
      animation-name:cloud_02;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
}





.tes2{
    width:400px;
    height:180px; 
    position:absolute; 
    left:60%;
    background:url(../images/cloud_03.png) center bottom no-repeat; 
    z-index:4;
      animation-name:cloud_03;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
}



@keyframes cloud_01
{
0%   {height:150px;}
100% {height:200px;}
}
@keyframes cloud_02
{
0%   {height:280px;}
100% {height:200px;}
}
@keyframes cloud_03
{
0%   {height:180px;}
100% {height:280px;}
}
.fish02{
    width:228px;
    height:139px;
    background: url(../images/fish_02.png)no-repeat;
    position: absolute;
    left: 30%;
    bottom: 0px;
    z-index: 5;
    animation-name:fish02;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: linear;
    
}
@keyframes fish02
{
	0%		{transform: rotate(0deg);left:20%; bottom:0px;}
	25%		{transform: rotate(-20deg);left:15%; bottom:100px;}
	50%		{transform: rotate(-40deg);left:10%; bottom:160px;}
	55%		{transform: rotate(-60deg);left:5%;  bottom:80px;}
	70%		{transform: rotate(-80deg);left:0%; bottom:0px;}
	100%	{transform: rotate(-100deg);left:0%;  bottom:-200px;}

}
.fish01{
    width:235px;
    height:94px;
    background: url(../images/fish_01.png)no-repeat;
    position: absolute;
    left: 40%;
    bottom: 0px;
    z-index: 2;
    animation-name:fish01;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: linear;
    
}
@keyframes fish01
{
	0%		{transform: rotate(0deg);left:40%; bottom:90px;}
	25%		{transform: rotate(-20deg);left:30%; bottom:250px;}
	50%		{transform: rotate(-40deg);left:20%; bottom:350px;}
	55%		{transform: rotate(-50deg);left:10%;  bottom:250px;}
	70%		{transform: rotate(-60deg);left:0%; bottom:100px;}
	100%	{transform: rotate(-70deg);left:-10%;  bottom:-100px;}


}

